@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/_utils.functions.scss" as f;

.streetcode-editor-page {
    margin-top: f.pxToRem(100px);
    padding: f.pxToRem(32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 100%;
    @include mut.with-font();

    .dimmed {
        @include mut.sized(100%);
    }
}