@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.partners-page{
    display: flex;
    gap: f.pxToRem(10px);
    .partners-page-add-button {
        min-height: f.pxToRem(50px);
        min-width: f.pxToRem(120px);
    }
    .container-justify-end {
        display: flex;
        justify-content: end;
    }
    .partners-page-container {
        @include mut.sized(100%);

        .partners-page-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;
        }

        .partners-search-input {
            width: 360px;
            border-radius: f.pxToRem(4px);
            padding: f.pxToRem(8px) f.pxToRem(12px);
        }

        .partners-page-add-button {
                min-height: f.pxToRem(34px);
                min-width: f.pxToRem(120px);
                border: none;
                border-radius: f.pxToRem(4px);
                font-weight: 500;
                transition: background-color 0.3s;
                background-color: #E04031;
                color: #fff;
            }
        
        .partners-table-logo{
            height: f.pxToRem(40px);
            margin: 0;
            padding: 0
        }
        .partner-links {
            @include mut.flexed(row, start,space-between, wrap, 4px);
        }
        .partners-table {
            margin-top: f.pxToRem(20px);
        }
        .partner-table-item-name {
            @include mut.flexed(row, start,flex-start, wrap, 4px);
        }
        .site-link {
            word-break: break-all
        }
    }
}

.partner-page-actions {
    display: flex;
    gap: 12px;
    color: #e04031;
}