@use "@sass/variables/_variables.colors.scss" as c;

.add-button-card {
  width: 146px;
  height: 183px; 
  border: 1px dashed c.$accented-white-color;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: c.$white-color;
  transition: border-color 0.2s;
  transition: all 0.2s ease;

  &:hover {
    border-color: c.$normal-gray-color;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 8px;

    .icon {
      font-size: 24px;
      color: c.$normal-gray-color;
    }

    .text {
      font-size: 12px;
      color: c.$dark-gray-color;
      margin: 0;
      line-height: 1.4;
    }
  }
  &.dragging {
    border-color: c.$accented-red-color;
    background-color: c.$white-color; 
    transform: scale(1.02); 
  }
}