@use "@sass/variables/_variables.colors.scss" as c;

.forgotPasswordModal {
    .ant-btn-primary {
        background-color: c.$accented-blue-color;
        border-color: c.$accented-blue-color;
        
        &:hover {
            background-color: c.$dark-blue-color;
            border-color: c.$dark-blue-color;
        }
    }
}