
@use "@assets/sass/variables/_variables.colors.scss" as c;

.dnd-gallery-wrapper{
  padding: 32px 0;
  background: c.$pure-white-color;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.art-gallery-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 32px 0;
  background: c.$pure-white-color;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery-viewport.drop-active {
    width: 100%;
  outline: 2px dashed #4d90fe;
  background: rgba(77, 144, 254, 0.08);
  transition: 0.2s ease;
}