@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

$newAccentColor: #891f16;

.team-page {
    width: 100%;
}

.team-page-container {
    width: 100%;
}

.team-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: f.pxToRem(24px);
}

.team-search-input {
    width: f.pxToRem(360px);
}

// .team-page-add-button {
//     min-height: f.pxToRem(34px);
//     min-width: f.pxToRem(160px);
//     border: none;
//     border-radius: f.pxToRem(4px);
//     font-weight: 500;
//     background-color: $newAccentColor;
//     color: c.$pure-white-color;

//     &:hover {
//         background-color: #c9362a !important;
//         color: c.$pure-white-color !important;
//     }
// }

.team-table {
    .ant-table-thead > tr > th {
        font-weight: 600;
    }
}

.team-table-logo {
    height: f.pxToRem(40px);
    margin: 0;
    padding: 0;
}

.team-page-actions {
    display: flex;
    gap: 12px;
    color: $newAccentColor;
}

.team-links {
    @include mut.flexed(row, start, space-between, wrap, 4px);
}

.team-table-item-name {
    @include mut.flexed(row, start, flex-start, wrap, 4px);
}

.site-link {
    word-break: break-all;
}