@use "../../../assets/sass/variables/_variables.colors.scss" as c;


@mixin form-input-style {
  border: 1px solid c.$slider-base-dot-color;
  border-radius: 10px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) !important;
  box-sizing: border-box;
   outline: none !important;

  font-weight: 300;
  font-size: 20px;
  line-height: 27px;

  &:hover,
  &:focus,
  &.ant-input-focused,
  &.ant-input-affix-wrapper-focused,
  &.ant-select-focused .ant-select-selector {
    border-color: c.$pure-black-color;
    box-shadow: none !important;
    outline: none !important;
  }
}