.modalContainer {
  .ant-modal-close {
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-modal-close-x {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
