@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

$bookImg: "@assets/images/sources/Books_stretched.png";
$articlesImg: "@assets/images/sources/Articles.png";

.forFansPage {
    width: 100%;
    .forFansHeader {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 24px;
    }

    .forFansAddButton {
        min-height: f.pxToRem(34px);
        min-width: f.pxToRem(120px);
        border: none;
        border-radius: f.pxToRem(4px);
        font-weight: 500;
        transition: background-color 0.3s;
        background-color: #e04031;
        color: c.$pure-white-color;
        padding: 0 f.pxToRem(16px);
        height: f.pxToRem(34px);

        &:hover {
        background-color: c.$dark-red-color;
        }
    }

    .forFansGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 340px));
        justify-content: center;
        gap: 48px 64px;
    }

    .sourcesSliderItem {
        width: 340px;
        height: 190px;
    }

    .actionButton {
        margin-right: 8px;

        &:hover {
        color: c.$dark-red-color;
        cursor: pointer;
        scale: 1.2;
        }
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: white;
        padding: 20px;

        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);

        z-index: 1000;
    }
}
