@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/variables/_variables.fonts.scss" as ft;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/_utils.functions.scss" as f;

.streetcode-create-page {
    padding-top: f.pxToRem(100px);
    padding-left: f.pxToRem(50px);
    padding-right: f.pxToRem(50px);

    .streetcode-create-page__mainblock {

        .streetcode-create-page__mainblock__head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .inputNamber {
                width: f.pxToRem(200px);
            }
        }

        .streetcode-create-page__mainblock__person {
            display: flex;
            gap: f.pxToRem(200px);

            .person__item {
                width: f.pxToRem(300px);
            }
        }
    }

    .streetcode-create-page__years {
        .years__item {
            width: f.pxToRem(300px);
        }
    }

    .streetcode-create-page__tags {
        .radio {
            margin-left: f.pxToRem(20px);
        }
    }

    .streetcode-create-page__forFans__header {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .streetcode-create-page__forFans__plus {
        color: #d13f35 !important;
        border: 1px solid #d13f35 !important;
        border-radius: 50% !important;
    }

    .streetcode-create-page__forFans__list {
        margin-top: 16px;
    }
}