@use "@sass/_utils.functions.scss" as *;
@use "@sass/variables/_variables.colors.scss" as c;
@use "@sass/mixins/_utils.mixins.scss" as mut;
@use "@sass/mixins/_wrapper.mixins.scss" as wr;
@use "@sass/mixins/_vendor.mixins.scss" as vnd;
@use "@assets/sass/_utils.functions.scss" as f;

.sourcesWrapper {
    @include wr.main-page-block-wrapper();

    .sourcesContainer {
        @include mut.sizedImportant(100%, 100%);

        > .blockHeadingWrapper {
            margin-top: pxToRem(30px);
        }
    }
}

.sourceContentContainer {
    margin-top: pxToRem(24px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.sourcesSliderWrapper {
    position: relative;
    width: 1230px;
    max-width: 100%;
}

.sourcesHorizontalList {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    cursor: pointer;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sourcesHorizontalList > * {
    flex: 0 0 340px;
}

.sourcesSliderItem {
    width: 340px;
    min-width: 340px;
}

.sourcesSliderArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 40px;
    height: 58px;

    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    transition: 0.4s ease;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 40px;
        height: 58px;
        transition: filter 0.4s ease, opacity 0.4s ease;
        display: block;
    }

    &:hover svg {
        filter: brightness(85%);
    }
}

.sourcesSliderArrow--left {
    left: f.pxToRem(-97px);
}

.sourcesSliderArrow--right {
    right: f.pxToRem(-97px);
}

@media screen and (max-width: 1450px) {
    .sourcesSliderArrow--left {
        left: f.pxToRem(-67px);
    }

    .sourcesSliderArrow--right {
        right: f.pxToRem(-67px);
    }
}