@use "@sass/_utils.functions.scss" as f;
@use "@sass/mixins/_utils.mixins.scss" as mut;

$newAccentColor: #891f16;

.adminPageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f5f5f5;

    @include mut.with-font();

    .dimmed {
        @include mut.sized(100%);
    }

    .ant-table-thead > tr > th.ant-table-column-has-sorters {
        .ant-table-column-sorters {
          justify-content: flex-start !important;

          .ant-table-column-title {
            margin-right: f.pxToRem(2px) !important;
            flex: 0 0 auto !important;
            width: auto !important;
          }

          svg path {
            transition: fill 0.3s ease-in-out;
          }
        }
    }

    .ant-table-pagination.ant-pagination {
            margin-top: f.pxToRem(30px) !important;
            justify-content: left !important;

        .ant-pagination-item {
            border: none;
            border-radius: 5px;
            background-color: transparent;

            a {
                color: $newAccentColor;
                font-weight: 500;
            }
        }

        // Активна сторінка
        .ant-pagination-item-active {
                background-color: transparent;
                border: 1px solid $newAccentColor !important;
                transition: background-color 0.2s;

                a {
                    color: $newAccentColor !important;
                }

                &:hover {
                    background-color: $newAccentColor !important;
                    border-color: $newAccentColor !important;

                a {
                        color: #fff !important;
                    }
                }
            }

            .ant-pagination-prev,
            .ant-pagination-next {
                .ant-pagination-item-link {
                    border: none;
                    background-color: transparent;
                    color: $newAccentColor;
                }

                &.ant-pagination-disabled .ant-pagination-item-link {
                    color: #bfbfbf;
                    background-color: transparent;
                }
            }

            .ant-pagination-jump-prev,
            .ant-pagination-jump-next {
                .ant-pagination-item-container {
                .ant-pagination-item-ellipsis {
                    color: $newAccentColor;
                }

                    .ant-pagination-item-link-icon {
                        color: $newAccentColor;
                    }
                }
            }
        }
    
    .ant-select:hover .ant-select-selector,
    .ant-select-focused .ant-select-selector {
        border-color: #e04031 !important;
    }
}

.adminPageContent {
    flex: 1;
    min-width: 0;
    padding: f.pxToRem(24px) f.pxToRem(32px);
    overflow-x: auto;
}