.news-modal {
    .ant-modal-content {
        border-radius: 32px;
    }

    .modalContainer-content {
        padding: 12px 20px;
    }

    h2 {
        margin-bottom: 24px;
        font-weight: 700;
    }

    .ant-form-item-label > label {
        font-size: 18px;
        font-weight: 500;
    }

    .ant-form-item-required::before {
        color: #ef4136 !important;
    }

    .news-modal-textarea {
        min-height: 160px;
        resize: none;
    }

    .news-photo-uploader {
        .ant-upload-select {
            width: 120px !important;
            height: 120px !important;
        }
    }

    .news-date-picker {
        width: 100%;
        height: 42px;
    }

    .save {
        min-height: 50px;
        margin-top: 8px;
    }
}